body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    flex-direction: column;
    gap: 20px;
}



.LeaderBoardRoom {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding : 20px;
    border: solid 2px #692786;
    border-radius: 10px;
    cursor: pointer;
}

.LeaderBoardRoom:hover, button:hover {
    transform: scaleX(1.05) scaleY(1.05);
    transition-duration: 0.4s;
}

.title {
    font-size: 20px;
}
#toFill {
    min-height: 50vh;
}






