body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom,
    #642581 0%,
    #421956 52%,
    #421956 70%,
    #421956 79%,
    #391549 88%,
    #341343 95%,
    #341343 96%,
    #351444 100%,
    #15081B 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.Succes {
    background-color: #d4d0d6;
    border-radius: 20px;
    padding: 50px;
    width: 90%;
    max-width: 950px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 15px;
    text-align: center;
}
.clickable {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    padding: 13px;
}
.clickable:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(100, 37, 129, 0.5);
}

#modalImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#fenModal{
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}
.content{
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border: none;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.3s ease;
}
#fenModal.active .content {
    transform: scale(1);
    opacity: 1;
}
