body {
    font-family: Arial, sans-serif;
    background-color: #c2adcc;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 100px 0 0;
}

.Profil {
    display: flex;
    flex-direction: column;
    background-color: #d4d0d6;
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-input-group{
    display: flex;
    flex-direction: row;
    gap: 255px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}
#pseudoPers{
    width: 200px;
    height: 38px;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 10px;
    font-size: 14px;
}
#BioPers{
    width: 550px;
    height: 300px;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 10px;
    font-size: 14px;
    text-align: left; 
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.file-label{
    background-image: url('../../assets/images/imageavatars/photodefault.jpg');
    border-radius: 50%; 
    margin-right: 10px;
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 56px;
    height: 56px;
    display: inline-block;
    font-size: 30px;
}

input[type="file"]{
    display: none;
}


textarea {
    height: 100px;
    resize: vertical;
}

.radio-group {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.radio-group input[type="radio"] {
    appearance: none;
    margin-right: 5px;
    width: 82px;
    height: 80px;
    cursor: pointer;
}

#buttonPers {
    background-color: #5D3EBD;
    color: #FFF;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
    height: 60px;
    margin: 20px auto;
}

#buttonPers:hover {
    background-color: #4A2F9D;
}
input[type="radio"]#Themes_1{
    background-image: url('../../assets/images/imagePersonnalisation/Theme_1.png');
}
input[type="radio"]#Themes_2{
    background-image: url('../../assets/images/imagePersonnalisation/Theme_2.png');
}
input[type="radio"]#Themes_3{
    background-image: url('../../assets/images/imagePersonnalisation/Theme_3.png');
}
input[type="radio"]#Des_1{
    background-image: url('../../assets/images/imagePersonnalisation/dés_2.png');
}
input[type="radio"]#Des_2{
    background-image: url('../../assets/images/imagePersonnalisation/dés_2.png');
}
input[type="radio"]#Des_3{
    background-image: url('../../assets/images/imagePersonnalisation/dés_2.png');
}
input[type="radio"]:checked {
    position: relative;
    border: 2px solid green;
    border-radius: 50%;
}
input[type="radio"]:checked:after{
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: green;
}
