body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.States {
    display: flex;
    flex-direction: column;
    background-color: #d4d0d6;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 15px; 
    justify-content: center;
    align-items: center;
}

.State {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 10px;
}
