body {
    margin: 0; 
    overflow: hidden;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #380052;
    width: 100%;
    height: 74px;
    padding: 10px;
    position: fixed; 
    top: 0;
    box-sizing: border-box;
}



.selection_droite {
    display: flex;
    align-items: center;
}

#money {
    font-size: 16px; 
    margin-right: 5px;
    color: white;
}

#coin {
    margin-right: 10px;
}

#pseudo {
    font-size: 16px; 
    color: white; 
    padding: 10px;
}

#profil {
    background-image: url("");
    border-radius: 50%; 
    margin-right: 10px;
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 56px;
    height: 56px;
}

button {
    background-color: #3893ff;
    border-radius: 10px;
    width: 97px;
    height: 46px;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
#Logo{
    background-image: url("../../assets/images/imgheader/logo.png");
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-left: auto;
}