body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#Boutique {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 8.5% - 5px);
    bottom: 0;
}

.sold img{
    filter: grayscale(80%);
}

.nav {
    height: 8.5%;
    width: 7%;
    cursor: pointer;
}

#navLeft, #navRight {
    position: absolute;
    height: 100%;
    width: 4.5%;
}

#navLeft {
    left: 0;
}

#navRight {
    right: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store {
    position: absolute;
    top: 0;
    width: 86%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#achatContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    justify-content: center; 
    align-items: center;
    z-index: 100;
}

#achat {
    position: relative;
    min-width: 20%;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 0%;
    border: 1px solid #000;
}

.border {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    min-width: 450px;
    background-color: #fff;
    opacity: 0.6;
    border-radius: 5%;
}

.item {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item img {
    width: auto;
    height: 90%;
}

#achatContent {
    display: flex;
    align-items: center;
    gap: 10%;
}

#achat i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.125%;
    height: 12.5%;
    position: absolute;
    font-size: 175%;
    top: 0;
    right: 0;
    cursor: pointer;
    color: rgb(201, 22, 22);
    margin: 10px;
    border-radius: 50%;
}

.nav {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav i::before {
    font-size: 300%;
    color: #fff;
}

.notSelected, .disabled {
    display: none;
}

.selected, .actived{
    display: flex;
}

.invisible {
    visibility: hidden;
}

.disabledButton {
    pointer-events: none;
}

.animateFadeOutDown {
    animation: fadeOutDown 0.8s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeOutUp {
    animation: fadeOutUp 0.8s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeInUp {
    animation: fadeInUp 0.8s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeInDown {
    animation: fadeInDown 0.8s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeZoomIn {
    animation: fadeZoomIn 0.5s cubic-bezier(0.11, 0.91, 0.58, 1) forwards;
}

.animateFadeZoomOut {
    animation: fadeZoomOut 0.5s cubic-bezier(0.11, 0.91, 0.58, 1) forwards;
}

.animateFadeOutLeft {
    animation: fadeOutLeft 0.8s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeOutRight {
    animation: fadeOutRight 0.8s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeInLeft {
    animation: fadeInLeft 0.8s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeInRight {
    animation: fadeInRight 0.8s cubic-bezier(0.11, 0.91, 0.58, 1);
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeZoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeZoomOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}