body {
    font-family: 'Arial', sans-serif;
    background-color: #c2adcc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.Classement {
    background-color: #d4d0d6;
    border-radius: 20px;
    padding: 40px;
    width: 90%;
    max-width: 600px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 15px;
    text-align: center;
}


.Classement img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 20px;
}

table th, table td {
    padding: 14px;
    font-size: 18px;
    color: #4b4b4b;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}



th img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
