body{
    height: 100%; 
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(to bottom,
    #642581 0%,
    #421956 52%,
    #421956 70%,
    #421956 79%,
    #391549 88%,
    #341343 95%,
    #341343 96%,
    #351444 100%,
    #15081B 100%
    );
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100vw;
    height: calc(100vh - 74px);
    margin-top: 74px; 
}
.bulle{
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 15px 20px;
    width: 450px;
    max-width: 600px;
    font-size: 18px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    border: 2px solid #000; 
}

.bulle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #f0f0f0 transparent transparent;
    transform: translateY(-50%);
}
.bulle.left::after {
    left: auto;
    right: -10px;
    border-color: transparent transparent transparent #f0f0f0;
}

.bulle.right {
    transform: translate(-50%, -50%) scaleX(-1); 
}

.bulle.right::after {
    left: auto;
    right: -10px;
    border-color: transparent #f0f0f0 transparent transparent;
}

.Bouton{
    display: flex;
    width: 100px;
    height: 20px;
    justify-content: space-between;
}
.Bouton img{
    display: none;
}
#Valider {
    background-color: #4CAF50; 
    color: white; 
}

#Refuser {
    background-color: #f44336; 
    color: white; 
}
#FirstMascotte{
    position: absolute;
    right: -100px; 
    top: 50%; 
    transform: translateY(-50%);
    z-index: 1;
}
#SecondMascotte{
    position: absolute;
    display: none;
    transform: scale(-1,1);
    z-index: 2;
}
#ThirdMascotte{
    position: absolute;
    transform: scale(1,-1);
    z-index: 3;
    left: -100px;
    top: 50%;
}