body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

#containerPersonalisation {
    display: flex;
    flex-direction: column;
    background-color: #d4d0d6;
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: flex-start;
    margin-top: 130px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.containerItem div:not(.item){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.item img {
    border-radius: 50%;
    cursor: pointer;
}

.selected img {
    border: 2px solid red;
}