/* PURPLE THEME */
.purpleBody {
    background: linear-gradient(to bottom, 
        #642581 0%, 
        #421956 52%, 
        #421956 70%, 
        #421956 79%, 
        #391549 88%, 
        #341343 95%, 
        #341343 96%, 
        #351444 100%, 
        #15081B 100% )
}

.purpleItem1 {
    background: #380052
}

.purpleItem2 {
    background-color: #471a5c;
}

.purpleItem3 {
    background: #421956
}

.purpleItem4 {
    background: #341343
}

.purpleItem5 {
    background: #a04cca
}

.purpleItem6 {
    background: #793999
}

.purpleItem7:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(100, 37, 129, 0.5);
}

.purpleItem8 {
    background: #AB00E7
}

.purpleItem9 {
    background-color: #b588c579;
}

.purpleItem10 {
    background-color: #5F0061;
}

.purpleItem11 {
    background: #C2ADCC;
}

/* GREEN THEME */
.greenBody {
    background: linear-gradient(to bottom, 
    #94ca52 0%, 
    #56ab2f 52%, 
    #56ab2f 70%, 
    #56ab2f 79%, 
    #3b8d1e 88%, 
    #2e6b15 95%, 
    #2e6b15 96%, 
    #2e6b15 100%)
}

.greenItem1 {
    background: #1a8431
}

.greenItem2 {
    background: #00825d
}

.greenItem3 {
    background: #1b9a0a
}

.greenItem4 {
    background: #018815
}

.greenItem5 {
    background: #44aa36
}

.greenItem6 {
    background: #198b2a
}

.greenItem7:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(34, 162, 56, 0.5);
}S

.greenItem8 {
    background: #195e28
}

.greenItem9 {
    background-color: #88c59779;
}

.greenItem10 {
    background-color: #2e6b15;
}

.greenItem11 {
    background: #8da683;
}

/* RED THEME */
.redBody {
    background: linear-gradient(to bottom, 
    #7d2e2e 0%,  
    #5d1c1c 52%,  
    #5d1c1c 70%,  
    #5d1c1c 79%,  
    #401717 88%,  
    #351414 95%,  
    #351414 96%,  
    #351414 100%,  
    #1f0f0f 100%)
}

.redItem1 {
    background: #6f4b4d
}

.redItem2 {
    background: #450505
}

.redItem3 {
    background: #542626
}

.redItem4 {
    background: #4D0D0D
}

.redItem5 {
    background: #bc3636
}

.redItem6 {
    background: #9f1a1a
}

.redItem7:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(125, 46, 46, 0.5);
}

.redItem8 {
    background: #9f1a1a
}

.redItem9 {
    background-color: #c5979779;
}

.redItem10 {
    background-color: #351414;
}

.redItem11 {
    background: #c87171;
}

/* BLUE THEME */
.blueBody {
    background: linear-gradient(to bottom, 
    #4a90e2 0%,
    #4285f4 25%, 
    #3a78db 50%, 
    #3367d6 75%, 
    #2a56c6 100%)
}

.blueItem1 {
    background: #2c5aa0
}

.blueItem2 {
    background: #1f57be
}

.blueItem3 {
    background: #0a4393
}

.blueItem4 {
    background: #073894
}

.blueItem5 {
    background: #3558f2
}

.blueItem6 {
    background: #0f2db5
}

.blueItem7:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(74, 144, 226, 0.5);
}

.blueItem8 {
    background: #0a4393
}

.blueItem9 {
    background-color: #97b1c579;
}

.blueItem10 {
    background-color: #2a56c6;
}

.blueItem11 {
    background: #7e9dbf;
}